*{margin:0; padding:0;}
ol, ul {list-style:none;}
a{text-decoration:none; color:#aaa;}



.wrap{width:100%; height:auto;}
.clear:after{display:block; content:''; clear:both;}
.center{width: 100%; max-width:1280px;  height:auto; margin:auto; }

.section{padding:100px 0; box-sizing:border-box;}

